[user]
    name = Dan Snow
    email = dan@sno.ws
    signingkey = 7E773BB13A204904!

[commit]
    gpgsign = true

[tag]
    gpgSign = true
    forceSignAnnotated = true

[gpg]
    program = gpg

[core]
    pager = command -v delta >/dev/null 2>&1 && delta -s || less
    autocrlf = false

[interactive]
    diffFilter = command -v delta >/dev/null 2>&1 && delta --color-only -s || cat

[delta]
    navigate = true
    dark = true
    features = catppuccin-mocha

[delta "catppuccin-mocha"]
    blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
    commit-decoration-style = "#6c7086" bold box ul
    dark = true
    file-decoration-style = "#6c7086"
    file-style = "#cdd6f4"
    hunk-header-decoration-style = "#6c7086" box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "#a6adc8"
    hunk-header-style = file line-number syntax
    line-numbers-left-style = "#6c7086"
    line-numbers-minus-style = bold "#f38ba8"
    line-numbers-plus-style = bold "#a6e3a1"
    line-numbers-right-style = "#6c7086"
    line-numbers-zero-style = "#6c7086"
    minus-emph-style = bold syntax "#694559"
    minus-style = syntax "#493447"
    plus-emph-style = bold syntax "#4e6356"
    plus-style = syntax "#394545"
    map-styles = \
        bold purple => syntax "#5b4e74", \
        bold blue => syntax "#445375", \
        bold cyan => syntax "#446170", \
        bold yellow => syntax "#6b635b"
    syntax-theme = Catppuccin Mocha

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[color]
    ui = auto

[credential]
    helper = cache

[diff "lfs"]
    textconv = cat

[merge]
    conflictStyle = zdiff3

[alias]
    a = add
    r = reset
    aa = add .
    ac = !git add -A && git commit -m

    c = commit
    cm = commit -m
    ca = commit --amend --verbose

    d = diff
    ds = diff --stat

    s = status -s -b
    co = checkout
    n = checkout -b

    ss = stash
    sl = stash list
    sd = stash drop
    sp = stash pop
    sc = stash clear

    pu = push
    pl = !git pull --rebase --prune && git submodule update --init --recursive

    f = fetch --prune --verbose
    cl = clone
    m = merge

    # Get ID and GPG key
    w = "!echo $(git var GIT_COMMITTER_IDENT) $(git config --get user.signingkey)"
    who = w

    # Show pretty logs
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    lg = "!git log --graph --pretty=oneline --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"

    b = branch
    bl = branch -a
    # Delete local branches with merged/removed remote
    bd = "!git branch --v | grep 'gone]' | awk '{print $1}' | xargs git branch -D"

    # Fuzzy find branches and tags
    bf = "!git checkout $(( git branch -a --color=never --format='%(refname:short)' --sort=committerdate & git tag -l ) | grep -v '^head' | fzf --height 40% --reverse --ansi --multi --tac | sed 's#^remotes/[^/]*/##' | sed 's#^origin/##')"

    # List aliases
    la = "!git config -l | grep alias | cut -c 7-"

    # How many commits have been made by different authors
    lw = shortlog -n -s --no-merges
    lc = "!git ls-files | while read f; do git blame -w --line-porcelain -- \"$f\" | grep -I '^author-mail '; done | sed 's/@.*//g'| sed 's/<//g' | sort -f | uniq -ic | sort -nr"
    lh = "!git log --numstat --pretty=\"%ae %H\" | sed 's/@.*//g' | awk '{ if (NF == 1){ name = $1}; if(NF == 3) {plus[name] += $1; minus[name] += $2}} END { for (name in plus) {print name\": +\"plus[name]\" -\"minus[name]}}' | sort -k2 -gr"
